body {
  font-family: Arial;
  background: #f4f4f9;
  text-align: center;
  padding: 20px;
}

.login-box, form {
  background: white;
  padding: 20px;
  margin: auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 5px #aaa;
}

input, select, button {
  margin: 8px;
  padding: 8px;
  width: 90%;
}

button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
